.cards {
    
    color: white;
    padding: 5px 10px;
    
    
}

.socialnetwork {
    display: flex;
    padding-right: 20px;
}




@media only screen and (max-width: 600px) {
    .cards {
        width: 100%;
        height: 100%;
        
    }

    
}






